@page
@model L2Ex2.Pages.RentACar.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.ReservationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.CarPlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.CarPlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.VinNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.VinNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.Describe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.Describe)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reservations.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
